<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>公共底部</title>
	<link rel="stylesheet" href="css/font-num40.css">
	<link rel="stylesheet" href="css/mp.css">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/index.css">
	<script src="js/rem.js"></script>
</head>

<body class="pb120">
	<!-- 公共脚部 start -->
	<div class="fixed_bot_nav">
		<ul class="clearfix max750">
			<li class="cur">
				<a href="#">
					<div class="ico"></div>
					<p>首页</p>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="ico"></div>
					<p>报名</p>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="ico"></div>
					<p>排行</p>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="ico"></div>
					<p>说明</p>
				</a>
			</li>
		</ul>
	</div>
	<!-- 公共脚部 end -->
	

</body>

</html>