
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;outline:none;}
input.hidefocus::-moz-focus-inner {border:none;}
table{border-collapse:collapse;border-spacing:0;empty-cells:show;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup,b{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#5A5A5A;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{font-size:100%;}
i,em{font-style:normal}
small{font-size:12px;display: block;}


body { font:12px/24px "兰亭粗黑简","兰亭黑简",Microsoft YaHei,Arial Narrow,sans-serif;}
a{ text-decoration:none; color:#333; outline:medium none;}
a:hover{ color:#666;}
a:focus{
    outline: none;
    outline-offset: 0;
}


@font-face {
    font-family: 兰亭粗黑简; /*说明调用字体名字*/
    src: url('../fonts/兰亭粗黑简.TTF'); /*字体文件路径*/
}
@font-face {
    font-family: 兰亭黑简; /*说明调用字体名字*/
    src: url('../fonts/兰亭黑简.TTF'); /*字体文件路径*/
}



/*清除浮动开始*/
.clear{clear:both; height:0; overflow:hidden;}
.clearfix:after{ visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}
*html .clearfix{zoom : 1;} /*兼容ie6*/
*:first-child+html .clearfix{ zoom:1;} /*兼容ie7*/



.text_center{ text-align:center;}
.bold{ font-weight:bold;}
.color_orange{color:#fdd000!important;}
.color_gray666{color: #666;}
.color_gray999{color: #999;}
.color_333{color: #333!important;}
.color_red{color: #ff0000!important;}
.bgcolor_orange{background: #fdd000;}
.bgcolor_gray{background: #f2f2f2;}
.bgcolor_fff{background: #fff;}
.lt{font-family: "兰亭粗黑简";}
.fz{font-family: "兰亭黑简";}



.mt20{margin-top:.5rem;}
.mb20{margin-bottom:.5rem;}
.ml20{margin-left: .5rem;}
.mr20{margin-right: .5rem;}
.mt10{margin-top: .25rem;}
.mb10{margin-bottom: .25rem;}
.mt30{margin-top:.75rem;}
.mb30{margin-bottom:.75rem;}
.mb40{margin-bottom:1rem;}
.mtb20{margin:.5rem 0;}
.mtb15{margin:.375rem 0;}
.mlr20{margin:0 .5rem;}
.mlr25{margin:0 .625rem}
.mlr30{margin:0 .75rem;}


.pl20{padding-left: .5rem;}
.pr20{padding-right: .5rem;}
.pt10{padding-top: .25rem;}
.pb10{padding-bottom: .25rem;}
.pt20{padding-top:.5rem;}
.pb20{padding-bottom:.5rem;}
.pb30{padding-bottom:.75rem;}
.ptb30{padding:.75rem 0;}
.ptb40{padding:1rem 0;}
.plr30{padding:0 .75rem;}
.plr20{padding:0 .5rem;}
.ptb20{padding:.5rem 0;}


.border-radius{border-radius: .45rem;overflow: hidden}
.border-radius-img{border-radius: .25rem;overflow: hidden}
.border-radius50{border-radius: 1.25rem;overflow: hidden}


.text-overflow{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;course:hand;}
.text-overflow2{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}



/*before 和after线 框架里公共类去掉样式 */
.nobefore:before {
    display: none !important;
}

.noafter:after {
    display: none !important;
}


.mt0{margin-top:0!important;}



.right15:before{
    right: 15px!important;
}








