/*/40*/
body{ height:100%; max-width: 18.75rem; font-size: .6rem; margin: 0 auto;color: #3b3738;}
img{width: 100%;display: block;}
.radius{border-radius: 50%;}
.color_00362e{color: #00362e;}
.color_fff{color: #fff;}
.color_fdd000{color: #fdd000;}
.bg_00362e{background:#00362e;}
.bg_566f6a{background: #566f6a;}

.in-line{display: inline-block;}
.mb60{margin-bottom: 1.5rem;}
.mt60{margin-top: 1.5rem;}
.f80{font-size: 2rem;}

/* 导语 */
.lead_wrap{background: url('/images/zt/junren/bg_img1.jpg')no-repeat center center;background-size: 100% 100%;padding-top:.65rem;}
.lead_wrap .lead_txt{padding:2.1rem 1.55rem 0 4.9rem;line-height: 1.1rem;}
.lead_wrap .lead_txt1{padding:0 1.55rem 0 4rem;}
.lead_wrap .lead_txt2{padding:0 0 0 1.65rem;}
.lead_form{padding:0 2.4rem;}
.lead_form .from_mes .cs .ipt{padding-left:.8rem; height: 2rem;line-height: 2rem;width: 100%;border: 1px solid #d2d2d2;outline: none;}
.lead_form .from_mes .cs input::-webkit-input-placeholder {/*Chrome/Opera/Safari*/color: #817e77;}
.lead_form .from_mes .cs input:-ms-input-placeholder{/*IE*/color:#817e77;}
.lead_form .from_mes .cs input::-moz-placeholder{/*Firfox*/color: #817e77;}
.lead_form .form_but a{width: 100%;height: 2rem;line-height: 2rem;display: block;}

/* 多数军人退伍后的选择 */
.choose_wrap{background: url('/images/zt/junren/bg_img3.jpg')no-repeat center center;background-size: 100% 100%;}
.tui_xuan{margin-left: .65rem;}
.tui_xuan span{display: inline-block;height:1.675rem;line-height: 1.675rem;padding:0 .9rem 0 .8rem;}
.tui_xuan img{vertical-align: top;width: .575rem;display: inline-block;}

.choose_con ul{padding:1.5rem 1.25rem 0 1.5rem;}
.choose_con ul li{width: 29%;}
.choose_con ul li:nth-child(1) img,.choose_con ul li:nth-child(3) img{margin-top: .5rem;}
.choose_con ul li:nth-child(2){width: 38%;margin:0 2%;}
.choose_con ul li p.tui_jie{margin-top:1.5rem;}

/* 退伍军人学私教有哪些优势？ */
.advantage_con{background: url('/images/zt/junren/bg_img5.jpg')no-repeat center center;background-size: 100% 100%;}
.advantage_con ul{padding:1.15rem .6rem 0 2.25rem;}
.advantage_con ul li p span{vertical-align: middle;}
.advantage_con ul li p img{vertical-align: middle;width: .9rem;height: .9rem;display: inline-block;margin-right: .25rem;}

/* 退伍军人做私教怎么样？ */
.make_con{background: url('/images/zt/junren/bg_img7.jpg')no-repeat center center;background-size: 100% 100%;}
.make_zaro{padding:1.45rem 1.6rem 1rem 1.65rem;}
.make_zaro li{width: 33.33%;}
.make_zaro li:nth-child(2){border-left: 1px solid #0f423a;border-right: 1px solid #0f423a;}
.make_zaro li span{display: block;font-size: 2.175rem;}

/* 滚动 */ 
.gun_wrap{background: url('/images/zt/junren/bg_img8.jpg')no-repeat center center;background-size: 100% 100%;}
.gun_con,.gun_btn_con{padding:0 1.7rem;}
.gun_con .gun_con_tit{background: #eeeeee;height: 1.65rem;line-height: 1.65rem;box-shadow: 0px 0px .25rem #ccc;-webkit-box-shadow: 0px 0px .25rem #ccc;-moz-box-shadow: 0px 0px .25rem #ccc;-ms-box-shadow: 0px 0px .25rem #ccc;}
.gun_con .gun_con_tit li{width: 25%;float: left;} 
.txtMarquee-top{overflow:hidden; position:relative; background: #fafafa;}
.txtMarquee-top .infoList li span{width: 25%;float: left;height:1.5rem;line-height: 1.5rem;}

/* 3000元助学优惠领取 */
.discount_con{background: url('/images/zt/junren/bg_img10.jpg')no-repeat center center;background-size: 100% 100%;}
.from_mes1{margin-top:1.4rem;}
.line{height: 1px;background: #817e77;width: 100%;position: relative;}
.line p{color: #817e77;background: #fff;position: absolute;top:-.5rem;left:3rem;padding:0 .4rem;}
.line p span{display: inline-block;color: #ff0000;}

/* 身在军外 兄弟仍在身边 */
.solider_zai{background: url('/images/zt/junren/bg_img18.jpg')no-repeat center center;background-size: 100% 100%;}
.solider_man li:nth-child(1){background: url('/images/zt/junren/bg_img12.jpg')no-repeat center center;background-size: 100% 100%;padding:1.375rem 1.375rem 0 1.6rem;}
.solider_man li p{border-radius: 0 0 .25rem .25rem;height: 1.5rem;line-height: 1.5rem;}
.solider_man li:nth-child(2){background: url('/images/zt/junren/bg_img13.jpg')no-repeat center center;background-size: 100% 100%;padding:1rem 1.375rem 0 1.6rem;}
.solider_man li:nth-child(3){background: url('/images/zt/junren/bg_img14.jpg')no-repeat center center;background-size: 100% 100%;padding:1rem 1.375rem 0 1.6rem;}

/* 学员创业案例 */
.case_wrap{background: url('/images/zt/junren/bg_img16.jpg')no-repeat center center;background-size: 100% 100%;}
.case_con{padding:0 1.7rem;}

/* 赛普介绍 */
.saipu_wrap{background: url('/images/zt/junren/bg_img19.jpg')no-repeat center center;background-size: 100% 100%;}
.saipu_jian{line-height: 1rem;padding:1.15rem 1.7rem .75rem 1.85rem;}
.saipu_con{padding:0 1.55rem 0 1.3rem;}

/* 荣誉合集 */
.roy-swiper-container2 .swiper-slide img{ width:80%;margin:0 auto;border-radius: .25rem;}
.roy-swiper-container2 .swiper-button-prev,.roy-swiper-container2 .swiper-button-next{width: 1.3rem; height: 1.3rem; margin-top:-.7rem;}
.roy-swiper-container2 .swiper-button-prev{ left:0px; background:url(/images/zt/junren/btn_prev.png) no-repeat left top; -webkit-background-size:100%;  background-size:100%;}
.roy-swiper-container2 .swiper-button-next{ right:0px; background:url(/images/zt/junren/btn_next.png) no-repeat left top; -webkit-background-size:100%; background-size:100%;}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{ opacity:.8;}

/* 赛普深入服务部队 助力中国强军梦 */
.service_wrap{background: url('/images/zt/junren/bg_img21.jpg')no-repeat center center;background-size: 100% 100%;}
.service_con{padding:0 1.8rem;}

.service{background: url('/images/zt/junren/bg_img22.jpg')no-repeat center center;background-size: 100% 100%;padding:1.25rem 1.6rem 0 1.35rem;}

/* 荣誉合集 */
.honor_wrap{background: url('/images/zt/junren/bg_img22.jpg')no-repeat center center;background-size: 100% 100%;}
.honor_txt{padding: 2.925rem 0 .6rem 0;}



/* 弹窗 */
#teamData label.error,#teamData1 label.error{color:red;font-size: .6rem;text-align: center;}
#teamData label.checked,#teamData1 label.checked{color:green;font-size: .6rem;text-align: center;}

/*弹窗带二维码弹出*/
.cd-popup,.cd-popup1,.cd-popup2{position: fixed; left: 0;top: 0;height: 100%;width: 100%; background-color: rgba(0, 0, 0, 0.5); opacity: 0;visibility: hidden;z-index:99999999;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;-moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible,.cd-popup1.is-visible1,.cd-popup2.is-visible1{opacity: 1;visibility: visible;-webkit-transition: opacity 0.3s 0s, visibility 0s 0s;-moz-transition: opacity 0.3s 0s, visibility 0s 0s;transition: opacity 0.3s 0s, visibility 0s 0s;}
.cd-popup-container2,.cd-popup-container1 {/*  border: 2px solid #f5a201; */position: absolute;width:92%;height:auto;top:50%;left: 50%;margin-left:-46%;margin-top: -50%;background: #FFF;text-align: center;box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(60px);-moz-transform: translateY(60px);-ms-transform: translateY(60px);-o-transform: translateY(60px);transform: translateY(60px);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;-moz-transition-property: -moz-transform;transition-property: transform;
    -webkit-transition-duration: 0.3s;-moz-transition-duration: 0.3s;-ms-transition-duration: 0.3s;-o-transition-duration: 0.3s;transition-duration: 0.3s;
}
.is-visible .cd-popup-container2,.is-visible1 .cd-popup-container1 {-webkit-transform: translateY(0);-moz-transform: translateY(0);-ms-transform: translateY(0);-o-transform: translateY(0);transform: translateY(0);}
.cd-popup-container2 p,.cd-popup-container1 p{font-size: .65rem;padding-top: 1rem;}

.cd-popup-close{ position: relative; z-index: 10;right:0px;top:0px;height: auto; display: block;width: 100%;color: #111;background: #f5a201;line-height: 1.5;text-align: right;font-size: 2em;padding-right: 5px;}
.queding{  z-index: 10;height: auto; display: block;width: 30%;color: #111;background: #f5a201;line-height: 2.3;margin: 0px auto 16px;font-size: .65rem;text-align: center}
.cd-popup-container2 img,.cd-popup-container1 img{width: 100%;}





@media (max-width: 320px){
	.con_title{margin:0 .2rem;}
	.con_title p{letter-spacing:-0.06rem;}

	.floor3_bom_con ul{padding:0 1rem;}
}


@media (min-width: 750px){
	
}