
/*ͼ��*/
.max-img img,
.aa img{width: 100%;display: block;}
.max-img .icon-new-hot,
.list-art .icon-new-hot{width: 1.25rem;position: absolute;top: 0;left: 0;}
.icon-bofang{width: 2.3rem!important;position: absolute;top:50%;left: 50%;margin-top: -1.2rem;margin-left: -1.2rem;}


.art-list-title img{width: 1.1rem;}
.yudu-img img{width: .65rem;vertical-align: middle;margin-right: .2125rem;}
.art-det-con1 img{width: 1.9rem;}
.art-det-but{padding:.35rem .8rem;}

.list-art .icon-new-hot{width: 1.25rem;position: absolute;top: 0;left: 0;}
.list-art li{border-top: 1px solid #dedede;}
.list-art li:last-child{border-bottom: 1px solid #dedede;}
.list-art li dt{ float:left; width:7.5rem; margin-right:10px;position: relative;height: 4.55rem;overflow: hidden}
.list-art li dt img{ display:block; width:100%;}
.list-art li dd{ margin-left:/*50px*/1.25rem;}
.list-art li dd h3{line-height:1rem;height: 2rem;}


/*悬浮底部1*/
.art-footer{position: fixed;bottom: 0;left: 0;z-index: 999999;width: 100%;}
.art-footer ul li{float: left;height: 2.2rem;}
.art-footer ul li:nth-child(1){width: 63%;line-height: 2.2rem;}
.art-footer ul li:nth-child(1) a{display: block}
.art-footer ul li:nth-child(2),
.art-footer ul li:nth-child(3){width: 18.4%;line-height: 3.3rem;}
.art-footer ul li:nth-child(2){background:#f9f9f9 url("../../images/art-no-like.png")no-repeat center top;background-size: 50%;}
.art-footer ul li:nth-child(3){background:#f9f9f9 url("../../images/art-no-sc.png")no-repeat center top;background-size: 50%;}

/*悬浮底部2
//用到上上方悬浮底部1css[ art-footer ]
*/
.ke-ask-footer{}
.ke-ask-footer ul li:nth-child(1){width: 70%}
.ke-ask-footer ul li:nth-child(2){width: 30%}
.ke-ask-footer ul li:nth-child(2){background:#f9f9f9 url("../../images/zixun.png")no-repeat center center;background-size: 38%;}


/* 选项卡css -------------------------------------- */
.tabBox .hd{ position:relative; top: 0; width:100%; height:2.45rem; border-top: 1px solid #F2F2F2; border-bottom: 1px solid #F2F2F2; background-color: #fff;}
.tabBox .hd ul{ position:absolute; width: 100%; top:0; overflow:hidden; }
.tabBox .hd ul li{ float:left; width: 50%;position: relative;}
.tabBox .hd ul li:first-child a:after{content: '|';display: inline;position: absolute;right: -3px;color: rgba(155,155,155,.2);}
.tabBox .hd ul li a{ display: block; height:2.45rem; line-height:2.45rem; font-size: 0.75rem; color: #9b9b9b; text-align: center}
.tabBox .hd ul li a span{ display:inline-block; height: 2.125rem; border-bottom: 3px solid transparent;}
.tabBox .hd ul .on a{ color: #333;font-weight: bold}
.tabBox .hd ul .on a span{ border-bottom: 3px solid #FDD000;}


.tabBox .bd ul{}
.tabBox .bd .ul1 li{width: 100%;background: url("../../images/zt/icon-shipin.png")no-repeat left center;background-size: 5.6%;}
.tabBox .bd .ul1 li:first-child{width: 100%;background: url("../../images/zt/icon-bofang.png")no-repeat left center;background-size: 5.6%;}
.tabBox .bd .ul1 li a{padding-left: 1.6rem;}


.evaluate {padding: 0.75rem;}
.evaluate .user_photo {float: left;display: block;width: 1.9rem;height: 1.9rem;border-radius: 50%;overflow: hidden;}
.evaluate .user_photo img {display: block;width: 100%;height: 100%;}
.evaluate dl {margin-left: 2.625rem;}
.evaluate dl dt {line-height: 1;margin-bottom: 0.4rem;font-size: 0.65rem;font-weight: bold;}
.evaluate dl dd {font-size: 0.55rem;color: #C9C7C7;}
.evaluate p {clear: both;line-height: 1.5;margin: 0.5rem 0 0 0;font-size: 0.6rem;color: #666;}


/*显示全部评价下的箭头图片*/
.art-quanbu{}
.art-quanbu a::after{content:"";margin: 0 auto;vertical-align: middle;background:url(../../images/icon-art.png);background-size: contain;background-repeat: no-repeat;width: 11px;height: 11px;display: inline-block;margin-left: 5px;/**/}

/*评价精华img*/
.icon-img-jinghua img{position: absolute;right: 0;top: 0;width: 7%}

































