/*body.bgcolor_000{background-color: #000;}*/
img{width: 100%;display: block;}
button{-webkit-appearance:none;border: none;}

/*公共 左右边距*/
.plr35{padding-left: .875rem;padding-right: .875rem;}
.plr40{padding-left: 2rem;padding-right: 2rem;}
.ptb50{padding-top: 1.25rem;padding-bottom: 1.25rem;}
.pt50{padding-top: 1.25rem;}
.pt78{padding-top: 1.95rem;}
.pt73{padding-top: 1.825rem;}
.pb40{padding-bottom: 1rem;}

.pt5{padding-top: .125rem;}

/*公共 间距*/
.line36{line-height: .9rem;}
.line1{line-height: 1rem;}
.inee4604{line-height: 1.16rem;}


/*公共 字颜色*/
.color_be3f00{color: #be3f00; }
.color_5c2a0c{color: #5c2a0c;}
.color_777{color: #777;}
.color_ff6d1e{color: #ff6d1e;}
.color_orange_ff6c00{color: #ff6c00;}

/*公共 背景颜色*/
.bg_fdf3cc{background-color: #fdf3cc}
.bg_fff2b7{background-color: #fff2b7}
.bg_ff9a03{background: #ff9a03;color: #fff!important;border: 1px solid #ff9a03!important;}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*底部付费弹出样式*/
.payType_popup .modal-content .ico_spb{background-image: url(../../images/zt/saipubi.png)!important;}
.borderBt.weui-cell:before{border-top: 1px dashed #F2F2F1}
.toolbar .toolbar-inner{border-bottom: 1px solid #F2F2F1;margin-right: .75rem;margin-left:.75rem;;}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*右悬浮 【分销】*/
.right-Invitation{position: fixed;right: 0;bottom: 18.6%;z-index: 152;}
.right-Invitation a{display: inline-block;border-top-left-radius: 2rem;border-bottom-left-radius: 2rem;height: 1.75rem;line-height: 1.75rem;background-color: #ff7200;padding-left: .875rem!important;}
.right-Invitation a img{display: inline-block;vertical-align: middle;;width: .95rem;margin-right: .25rem;}
.InvBtn{}
.InvBtn a{width: 32%;height: 2rem;line-height: 2rem;}
.InvBtn a:nth-child(2){border: 1px solid red;margin-left: 2%;margin-right: 2%; }
.InvBtn a img{width: .825rem;vertical-align: middle;display: inline-block;margin-right: .25rem;}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*分销下关闭样式*/
.tabbs .picker-button{
    left: 0.925rem;
    top: 1.15rem;
    width: 1.1rem;
    height: 1.1rem;
    background: url(../../images/icon_x.png) 0 0 no-repeat;
    background-size: 100%;
    text-indent: -9999px;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*使用全局样式把滑动报错去掉*/
* { touch-action: pan-y;}

/*悬浮底部*/
.zaoniao_btn{}
.zaoniao_btn a{float:left;display: block;width: 48%;height: 2.2rem;line-height: 2.2rem;color: #333;border: 1px solid #999;margin-bottom: .5rem;}
.zaoniao_btn a:nth-child(2n){float: right;}

.none{display: none!important;}
.bg_orange_active{background-color: #fdd000!important;border: 1px solid #fdd000!important;font-weight: bold;}
.bga{
    color: #fff!important;border: none!important;
    background-image: -webkit-linear-gradient(#ffc325, #ff9801); /* Safari 5.1 - 6.0 */
    background-image: -o-linear-gradient(#ffc325, #ff9801); /* Opera 11.1 - 12.0 */
    background-image: -moz-linear-gradient(#ffc325, #ff9801); /* Firefox 3.6 - 15 */
    background-image: linear-gradient(#ffc325, #ff9801);
} /* 标准的语法（必须放在最后） */

.color_red_be3f00{color: #be3f00;}
.foot{position: fixed;bottom: 0;left: 0;width: 100%;height: 3.25rem/*131*/;z-index: 999;box-shadow: 0 0 3px rgba(0,0,0,.1);}
.foot_uu{margin-top: .36rem;height: 2.4rem/*96*/;line-height: 2.4rem;}
.foot_uu ul li{height: 2.3rem/*96*/;float: left;width: 100%;}
.foot_uu ul li.xiaoqu{width: 31%;line-height: 1rem;padding-top: .2rem;}
.foot_uu ul li.mashang{width: 49%;margin-left: 3%;line-height: 2.3rem;margin-top: .1rem;}
.foot_uu ul li.mashang span{padding-left: .2rem;}
.foot_uu ul li.mashang button{width: 100%;height: 100%;}
.foot_uu ul li.zhuli{width: 17%;line-height: .8rem;padding-top: .4rem;}
.foot_uu ul li.zhuli a{border-left: 1px solid #d9d9d9;}
.foot_uu ul li.zhuli img{width: .825rem;margin:0 auto 0;}

.foot_uu li.xiaoqu .h_box{display: none;}

/*全屏图片弹出样式*/
.friend_layer {
    width: 15.75rem !important;
    height: 16.15rem !important;
    border-radius: 0.25rem !important;
}
.friend_layer .layui-layer-setwin .layui-layer-close2
{right: 0rem!important;top: 0rem!important;width: 1.1rem!important;height: 1.1rem!important;background: url(../../images/ico_del1.png) no-repeat center center;background-size: 1.3rem 1.3rem;z-index: 9999999; }
.friend_layer .bm_success {display: block;}
.friend_layer{height: auto!important;}
.friend_layer .layui-layer-content img{height: 25.35rem!important;}


/*底部悬浮按钮*/
.foot_help{height: 2.35rem/*94*/;line-height: 2.35rem;}


/*右侧悬浮样式更改 {--避免修改公共样式--}*/
.right_Float_wx{bottom: 26% !important;z-index: 9999;}


/*页面样式 start*/
/*公共tit*/
h4.tit{}
h4.tit img{vertical-align: middle;width: .825rem;/*33*/display: inline-block;}
h4.tit img:first-child{margin-right: .3rem;}
h4.tit img:last-child{margin-left: .3rem;}


/*视频 */
.video {position: relative;width: 100%;height: 8rem;overflow: hidden;}
.video .box2 {position: absolute;width: 100%;height: 100%;z-index: 100;}
.video .box2 img {display: block;width: 100%;height: 100%;}
.video .box2 .mask {position: absolute;left: 0;top: 0;width: 100%;height: 100%;background-color: #000;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);opacity: .5;}
.video .box2 .btn_play {position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);width: 1.95rem;height: 1.95rem;background: url("../../images/bofang.png") 0 0 no-repeat;background-size: 1.95rem 1.95rem;}
.video video {position: absolute;left: 0;top: 0;width: 100%;height: 8rem;}


/*为什么学青少儿体适能更有发展前景*/
.bg_fazhan_img{background: url("../../images/zt/teenager/bg_img0.jpg")no-repeat 0 82px;background-size: 100% auto;}
.wey_box{box-shadow: 0 0 6px rgba(0,0,0,.2)}
.wey_box ul li{padding-bottom: 1rem;}
.wey_box ul li:last-child{padding-bottom: 0;}
.wey_box ul li img{width: auto/*279*/;height: 1.5rem/*60*/;}


/*培训对象*/
.pxbg_tit{background: url("../../images/zt/teenager/object_img.jpg")no-repeat top center;background-size: 100% auto;padding-bottom: 6.475rem/*259*/}


/*
课程内容
选项卡
*/
.tabBox .hd{border:1px solid #fdd000;}
.tabBox .hd ul{/*overflow:hidden*/;}
.tabBox .hd ul li{float:left;color:#666;line-height: .9rem;width: 33.33%;height: 2.75rem/*110*/;}
.tabBox .hd ul li a{padding-top: .55rem;display: block;}
.tabBox .hd ul li:nth-child(2){border-left: 1px solid #fdd000;border-right: 1px solid #fdd000;}
.tabBox .hd ul .on{}
.tabBox .hd ul .on a{position: relative;background: #fdd000;color: #333;display:block; height: 2.75rem;padding-top: .55rem;/* 修复Android 4.0.x 默认浏览器当前样色无效果bug */  }
.tabBox .hd ul .on a:after{content: url("../../images/zt/teenager/arrow_bottom.png");background-size: .625rem;position: absolute;bottom: -49%/*-1.4rem*/;left: 50%;transform: translate(-50%, -50%);z-index: 99;}
.tabBox .bd{}
.tabBox .bd .bg_tab_img{background: url("../../images/zt/teenager/bg_img1.jpg")no-repeat top center;background-size: 100% 100%;padding-top: 1.75rem/*70*/;padding-bottom: 1rem;padding-left: 1rem;padding-right: 1rem;}
.tabBox .bd .bg_tab_img ul{}
.tabBox .bd .bg_tab_img ul li{margin-bottom: .375rem;}
.tabBox .bd .bg_tab_img ul li:last-child{margin-bottom: 0;}
.tabBox .bd .bg_tab_img ul li .list{}
.tabBox .bd .bg_tab_img ul li .list .boxs{width: 6%;min-height: 1rem;}
.tabBox .bd .bg_tab_img ul li .list .boxs:last-child{width: 94%;line-height: 1rem;}
.tabBox .bd .bg_tab_img ul li .list .boxs img{width: .45rem;margin-top: .16rem;;}
/*按钮*/
.tabBox .bd .bg_tab_img .btn{}
.tabBox .bd .bg_tab_img .btn button{width: 100%;height: 2.25rem/*90*/;line-height: 2.25rem;}


/*强大导师阵容为你保驾护航*/
/* 轮播 */
.swiper-container_wrap{position: relative;overflow:hidden}
.swiper-container_wrap .swiper-container{top: 0; left: 50%; width: 28rem;margin-left: -14rem;/*margin-left: -250px; width: 500px;*/}
.swiper-container_wrap .swiper-slide{background: #fff2b8;box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, .2);}
.swiper-container_wrap .swiper-slide dl{width: 100%;padding-top: .75rem;padding-bottom: .75rem;}
.swiper-container_wrap .swiper-slide dl dt{line-height: 1rem;margin-bottom: .25rem;}
.swiper-container_wrap .swiper-slide dl dt span{padding:.2rem 1rem;display: inline-block;background: #ff6c00;}
.swiper-container_wrap .swiper-slide dl dd{line-height: 1.3rem;}
.swiper-container_wrap .swiper-slide .mask_000{background: rgba(0,0,0,.3);position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.swiper-container_wrap .swiper-slide.swiper-slide-active .mask_000{background: none;}



    /*报名须知*/
.bg_xuzhi_img{background: url("../../images/zt/teenager/bg_img3.jpg")no-repeat bottom center;background-size: 100% auto;padding-bottom: 1.25rem/*50*/;}
.bg_xuzhi_img ul li{padding-bottom: .25rem;}
.bg_xuzhi_img ul li p.num{float: left;width: 8%;padding-top: .2rem;}
.bg_xuzhi_img ul li p.num span{height: .875rem;width: .875rem;line-height: .875rem;}
.bg_xuzhi_img ul li p{float: left;width: 92%;line-height: 1.3rem;}





