/*除40*/
.f14{font-size: .35rem;}
.f15{font-size: .375rem;}
.f16{font-size: .4rem;}
.f17{font-size: .425rem;}
.f18{font-size: .45rem;}
.f19{font-size: .475rem;}

.f20{font-size: .5rem;}
.f21{font-size: .525rem;}
.f22{font-size: .55rem;}
.f23{font-size: .575rem;}
.f24{font-size: .6rem;}
.f25{font-size: .625rem;}
.f26{font-size: .65rem;}
.f27{font-size: .675rem;}
.f28{font-size: .7rem;}
.f29{font-size: .725rem;}

.f30{font-size: .75rem;}
.f31{font-size: .775rem;}
.f32{font-size: .8rem;}
.f33{font-size: .825rem;}
.f34{font-size: .85rem;}
.f35{font-size: .875rem;}
.f36{font-size: .9rem;}
.f37{font-size: .925rem;}
.f38{font-size: .95rem;}
.f39{font-size: .975rem;}

.f40{font-size: 1rem;}
.f41{font-size: 1.025rem;}
.f42{font-size: 1.05rem;}
.f43{font-size: 1.075rem;}
.f44{font-size: 1.1rem;}
.f45{font-size: 1.125rem;}
.f46{font-size: 1.15rem;}
.f47{font-size: 1.175rem;}
.f48{font-size: 1.2rem;}
.f49{font-size: 1.225rem;}

.f50{font-size: 1.25rem;}
.f51{font-size: 1.275rem;}
.f52{font-size: 1.3rem;}
.f53{font-size: 1.325rem;}
.f54{font-size: 1.35rem;}
.f55{font-size: 1.375rem;}
.f56{font-size: 1.4rem;}
.f57{font-size: 1.425rem;}
.f58{font-size: 1.45rem;}
.f59{font-size: 1.475rem;}
